@import "./styles/_variables.scss";

body {
  background: $background;
}
#app {
  margin: 0px;
  background: $background;
  color: $monochrome;
  font-family: "Press Start 2P", cursive;
}

#app,
h1,
h2,
h3,
h4,
h5 {
  font-size: 12px;
}

label {
  font-weight: normal;
  margin: 5px 0;
}
input,
button,
textarea {
  background: $background;
  border: 1px solid $monochrome-dark;
  color: $monochrome;
  font-family: $monofont;
  padding: 5px;
  &:focus {
    outline: none;
    color: $monochrome-active;
  }
  &[disabled] {
    border-color: $monochrome-disabled;
    color: $monochrome-disabled;
  }
}

.input-block {
  margin-top: 20px;
  margin-bottom: 10px;
}

.expandable-enter-active,
.expandable-leave-active {
  overflow: hidden;
  max-height: 500px;
  transition: all $menu-animation-duration linear;
}

.expandable-enter-active {
  transition: all $menu-animation-duration linear $menu-animation-duration;
}

.expandable-enter,
.expandable-leave-to {
  max-height: 0px;
}

@media (min-width: 768px) {
  #app {
    margin: 20px;
  }
}