@import "../styles/_variables.scss";
.icon {
  transition: transform 0.3s ease;
  color: $rover-colour;
}
.active {
  color: $rover-colour-active;
}
.disabled {
  color: $rover-colour-disabled;
}
// .orientation-N {
//   transform: rotate(0deg);
// }
// .orientation-E {
//   transform: rotate(90deg);
// }
// .orientation-S {
//   transform: rotate(180deg);
// }
// .orientation-W {
//   transform: rotate(270deg);
// }